@tailwind components;
@tailwind utilities;

  .flex-2 {
    flex: 2;
  }
  .flex-3 {
    flex: 3;
  }
  .flex-3 {
    flex: 3;
  }
  .flex-4 {
    flex: 4;
  }
  .flex-5 {
    flex: 5;
  }
  .flex-6 {
    flex: 6;
  }
  .flex-7 {
    flex: 7;
  }
  .flex-8 {
    flex: 8;
  }

  .ant-table-cell  .ant-switch {
    background-color: rgba(0, 0, 0, 0.25) !important;
  }

  .ant-table-cell .ant-switch.ant-switch-checked {
    background-color: rgb(22, 119, 255) !important;
  }